.subnav {
    background-color:#e8ecf7;
    border:1px solid #e8ecf7;
    display:inline-block;
    color:#64DAFB;
    border-radius: 5px;
    ul {
        padding:0;
        margin:0;
        font-size: .9rem;

        li {
            display: inline-block;
            list-style-type: none;
            padding:5px 10px;

            &:hover {
                background-color: #f9fdf8
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            
            a {
                color:#64DAFB;
                text-decoration:none;
            }
        }
    }
}