.subnav {
    background-color:#e8ecf7;
    display:inline-block;
    color:#64DAFB;
    ul {
        padding:0;
        font-size: .9rem;

        li {
            display: inline;
            list-style-type: none;
            padding:8px;
            a {
                color:#64DAFB;
                text-decoration:none;
            }
        }
    }
}