.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none; }

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.main-navigation {
  font-size: 1rem; }
  .main-navigation ul {
    margin: 10px 0;
    padding: 10px 0;
    background-color: #454956;
    border-radius: 5px; }
    .main-navigation ul li {
      display: inline;
      list-style-type: none;
      padding: 10px; }
      .main-navigation ul li:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      .main-navigation ul li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .main-navigation ul li:hover {
        background-color: #35373d; }
      .main-navigation ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold; }

.subnav {
  background-color: #e8ecf7;
  display: inline-block;
  color: #64DAFB; }
  .subnav ul {
    padding: 0;
    font-size: .9rem; }
    .subnav ul li {
      display: inline;
      list-style-type: none;
      padding: 8px; }
      .subnav ul li a {
        color: #64DAFB;
        text-decoration: none; }

footer {
  background-color: #5e6270;
  padding: 15px;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: .8rem; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
